html {
    height: 100%;
    width: 100%;
  }
  body{
    background-color:lightblue;
  }
  h1{
    text-align: center;
    font-family: fantsay;
    font-size: 44px;
    text-decoration: underline;
    color: blue;
  }
  p{
    color:darkred;
    font-size: 24px;
    font-family:fantasy;
    margin-left:20px;
    margin-right: 20px;
  }
  .p1{
    float: right;
    height:150px;
    width:200px;
    margin:10px;
  }
  .p2{
    float:left;
    margin:20px;
    
  }
  
  